<h3 style="padding-bottom: 5px">Welcome!</h3>

<p>Dependency management for iOS and OSX Development.</p>

<p>See <%= link_to "https://github.com/keithpitt/vendor", "https://github.com/keithpitt/vendor" %> for more information. Screencast coming soon...<p>

<h4>Version 0.1 has been released!</h4>

<p>Simply type the following into your Terminal to get started vendoring!</p>

<pre>gem install vendor</pre>

<h3 style="padding-bottom: 5px">Latest Vendors</h3>

<ul>
  <% @latest_vendors.each do |vendor| %>
    <%= render :partial => "vendors/small", :locals => { :vendor => vendor } %>
  <% end %>
</ul>
