<h3>Welcome!</h3>

<p>Dependency management for iOS and OSX Development.</p>

<p>See <%= link_to "https://github.com/keithpitt/VendorKit", "https://github.com/keithpitt/VendorKit" %> for more information.<p>
