/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree .
 *= require bootstrap-1.4.0
*/

.hero-header {
  background-color: #f5f5f5;
  margin-bottom: 30px;
  padding: 40px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.hero-header h2 {
  margin-bottom: 10px;
  font-size: 30px;
  line-height: 1;
  letter-spacing: -1px;
}
.hero-header p {
  font-size: 14px;
  font-weight: 200;
  line-height: 18px;
}
